<phpunit bootstrap="vendor/autoload.php" colors="true" stopOnError="true" stopOnFailure="false">
	<testsuites>
		<testsuite name="TestSuite">
			<directory>tests/</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src/</directory>
    </whitelist>
  </filter>
</phpunit>
