name: CI

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php_version:
          - "8.0"
          - "8.1"
    steps:
    - uses: actions/checkout@v2
    - uses: php-actions/composer@v6
      with:
        php_version: ${{ matrix.php_version }}
    - uses: php-actions/phpunit@v3
      with:
        php_version: ${{ matrix.php_version }}
        php_extensions: pcov
    - run: bash <(curl -s https://codecov.io/bash)
